@font-face {
    font-family: 'Gibson-regular';
    src: url('../assets/fonts/gibson-webfont.eot');
    src: url('../assets/fonts/gibson-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/gibson-webfont.woff') format('woff'),
         url('../assets/fonts/gibson-webfont.ttf') format('truetype'),
         url('../assets/fonts/gibson-webfont.svg#gibsonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gibson-semibold';
    src: url('../assets/fonts/gibson-semibold-webfont.eot');
    src: url('../assets/fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/gibson-semibold-webfont.woff') format('woff'),
         url('../assets/fonts/gibson-semibold-webfont.ttf') format('truetype'),
         url('../assets/fonts/gibson-semibold-webfont.svg#gibson_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gibson';
    src: url('../assets/fonts/gibson-light-italic-webfont.eot');
    src: url('../assets/fonts/gibson-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/gibson-light-italic-webfont.woff') format('woff'),
         url('../assets/fonts/gibson-light-italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/gibson-light-italic-webfont.svg#gibson_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
	height: 100%;
	font-family: "Gibson-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.spacer.half {
	height: 50%;
}
.highlight {
	font-family: "Gibson-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	/*color: #FDBD10;*/
	/*color: #60C3B2;*/
	color: white;
}
/* Splash */
/* ----------------------------------------------------- */
.splash {
	height: 100%;
	min-height: 520px;
	position: relative;
	color: white;
	background: linear-gradient(
      rgba(96, 195, 178, 0.45), 
      rgba(96, 195, 178, 0.45)
    ),url(../img/background.jpg);

}
.logo {
	height: 300px;
	margin: -240px auto 80px auto;
	display: block;
}
.description {
	font-family: "Gibson-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.4rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	line-height: 4rem;
	letter-spacing: 0.25rem;
	text-shadow: 1px 1px 4px #777;
}
.description>.startups {
	display: block;
}
.description>.info {
	display: block;
	font-size: 2rem;
	letter-spacing: 0.55rem;
}
.description>.time {
	display: block;
	font-size: 1.5rem;
	line-height: 3rem;
	letter-spacing: 0.4rem;
}
.description>.time>.sub {
	font-size: 1.2rem;
}
.chevron {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}
.chevron>i {
	margin-bottom: 20px;
	font-size: 2rem;
	transition: 0.2s ease;
}
.chevron>i:hover {
	/*color: #FDBD10;*/
	color: #61C1A0;
	text-shadow: 0 0 2px #fff;
	cursor: pointer;
	transition: 0.2s ease;
}
/* About */
/* ----------------------------------------------------- */
.about {
	padding: 100px 0 80px 0;
	color: white;
	text-align: center;
    position: relative;
}

#about{
    background-color: #61C1A0;
    
}

.about>h2 {
	margin-bottom: 50px;
	font-size: 3.6rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.55rem;
}
.about>p {
	padding: 0 10%;
	max-width: 1000px;
	margin: 0 auto 20px auto;
	font-size: 1.8rem;
	font-weight: 400;
	text-align: left;
	line-height: 3rem;
	letter-spacing: 0.1rem;
}
.about .rsvp {
	margin: 20px auto 0 auto;
	padding: 10px 20px;
	display: inline-block;
	font-size: 2.2rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .2rem;
	border: 1px solid white;
	color: white;
}
.about .rsvp.disabled {
	opacity: 0.65; 
	cursor: not-allowed;
}

.about .rsvp:hover{
	background-color:white;
	color: #61C1A0;
	-webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

#media{
	color: white;
	background: linear-gradient(
      rgba(96, 195, 178, 0.75), 
      rgba(96, 195, 178, 0.55)
    ), url(../img/lawn.jpg);

}

.rocket {
    height: 200px;
    position: absolute;
    bottom: -50px;
    right: 100px;
    opacity: .95;
}

/* Logos */
/* ----------------------------------------------------- */
.logos {
	padding: 100px 0 20px 0;
}
.logos>h2 {
	margin-bottom: 50px;
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.55rem;
}

.companies, .hosts{
    display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 0 10% 40px 10%;
    align-items: center;
    -webkit-align-items: center;
    
}

.companies img{
    height: 35px;
    margin: 20px;
    padding: 10px;
}


.companies .small{
    margin-top: -5px;
    height: 40px;
}

.companies .medium{
    margin-top: -10px;
    height: 55px;
}

.companies .large{
    margin-top: -20px;
    height: 85px;
}

.companies .solvegrowth {
	background-color: #800f7e;
}

.companies .reefer {
	background-color: #25282b;
}

.companies .startuptap {
	background-color: #3b3a36;
}


.hosts h2 {
	margin-right: 10px;
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: .6rem;
	text-transform: uppercase;
	vertical-align: top;
}
.hosts img {
	height: 48px;
	margin: 0 20px 20px 20px;
	display: inline-block;
	vertical-align: top;
}
.hosts .sparksc {
	margin-top: -10px;
}
.hosts .techla {
	height: 24px;
}
/* Footer */
/* ----------------------------------------------------- */
.footer {
	padding: 0 5% 20px 5%;
	font-size: 1rem;
	text-align: center;
	line-height: 1rem;
	letter-spacing: .1rem;
	color: #CCC;
}
