html, body {
	height: 100%;
	min-width: 640px;
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
.spacer.half {
	height: 50%;
}
.highlight {
	font-weight: 600;
	color: #3CBFB0;
}
/* Nav */
/* ----------------------------------------------------- */
.nav {
	position: fixed;
	top: 0; right: 0;
	text-align: right;
}
/* Splash */
/* ----------------------------------------------------- */
.splash {
	height: 100%;
	min-height: 520px;
	position: relative;
	color: white;
}
.logo {
	height: 280px;
	margin: -260px auto 60px auto;
	display: block;
}
.description {
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	line-height: 2.8rem;
	letter-spacing: 0.65rem;
}
.description>.startups {
	display: block;
}
.description>.info {
	display: block;
	font-size: 1rem;
	letter-spacing: 0.55rem;
}
.description>.time {
	display: block;
	font-size: 0.8rem;
	line-height: 2rem;
	letter-spacing: 0.4rem;
	color: #CCC;
}
.description>.time>.sub {
	font-size: 0.6rem;
}
.chevron {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}
.chevron>i {
	margin-bottom: 20px;
	font-size: 2rem;
	color: #CCC;
}
.chevron>i:hover {
	color: #3CBFB0;
}
/* About */
/* ----------------------------------------------------- */
.about {
	padding-top: 50px;
}
.about>h2 {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.about>p {
	padding: 15px 10%;
}
.about>img {
	height: 40px;
}
/* Companies */
/* ----------------------------------------------------- */
.logos {
	padding: 20px;
	text-align: center;
}
.logos>img, .logos>.andmore {
	height: 48px;
	margin: 0 20px 20px 20px;
	display: inline-block;
	vertical-align: middle;
}
.logos>.whisper {
	margin-top: 10px;
}
.logos>.omaze {
	height: 68px;
}
.logos>.curbstand {
	height: 28px;
}



/*
.hosts>.sparksc {
	height: 48px;
}
.hosts>.techla {
	height: 32px;
}
.description {
	width: 400px;
	margin: 0 auto;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
}
.featuring {
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	color: white;
	background: rgba(60, 191, 176, 0.46);
}
.companies {
	padding: 20px;
	text-align: center;
}
.companies>img, .companies>.andmore {
	height: 48px;
	margin: 0 20px 20px 20px;
	display: inline-block;
	vertical-align: middle;
}
.companies>.whisper {
	margin-top: 10px;
}
.companies>.omaze {
	height: 68px;
}
.companies>.curbstand {
	height: 28px;
}*/
