body {
	font-family: sans-serif;
	background: url(../img/background.jpg) no-repeat center center fixed; 
	background-size: cover;
	background-blend-mode: multiply;
	background-color: #555;
}
.logo {
	width: 400px;
	margin: 0 auto;
	display: block;
}
.description {
	width: 400px;
	margin: 0 auto;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
}
.featuring {
	margin: 0 auto;
	color: white;
}
.companies {
	padding: 20px;
	border-radius: 5px;
	text-align: center;
	background: rgba(255,255,255,0.5);
}
.companies>img {
	height: 48px;
	margin: 0 20px 20px 20px;
	display: inline-block;
	vertical-align: middle;
}
.companies>.whisper {
	margin-top: 10px;
}
.companies>.omaze {
	height: 68px;
}
.companies>.curbstand {
	height: 28px;
}